
html {
	float: center;
	margin-left: 25%;
	margin-right: 25%;
}
#mainPic {
	width: 100%;
	margin: auto;
}
li  {
	display: inline;
	font-family: Helvetica;
	padding: 10px;
	list-style-type: none;
}
.listLinks {
	text-align: left;
	background-color: orange;
	padding: 3px;
}
#mainNav li a:hover {
	background-color: orange;
	color: white;
}
a:link  {
	text-decoration: none;
	color: black;
}
article  {
	float: left;
	width: 32.4%;
	height: auto;
	border: solid;
	border-color: darkgrey;
	display: inline-block;
}
.articleHeadings  {
	text-align: left;
	padding: 10px;
}
.articlePics  {
	height: 200px;
	max-width: 100%;
}
.articlePics:hover  {
	opacity: 0.5;
}
article p {
	text-align: left;
	padding: 10px;
}
.moreButton  {
	float: right;
	padding: 3px;
	border: solid;
	border-color: black;
	border-radius: 3px;
	background-color: orange;
	margin-right: 3px;
	margin-bottom: 3px;
}
.moreButton:hover  {
	background-color: black;
	color: orange;
}
footer p {
	text-align: center;
}